<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Website Title -->
    <title>Daggie Blanqx</title>

        <!-- jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href="assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<!-- Font-Awesome -->
    <link href="assets/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<!-- Lightbox -->
	<link href="assets/lightbox/css/lightbox.css" rel="stylesheet">
    <!-- Text Rotator-->
	<link href="assets/textrotator/simpletextrotator.css" rel="stylesheet">
	<!-- FlexSlider -->
    <link href="assets/flexslider/flexslider.css" rel="stylesheet">
	<!-- Theme Style -->
    <link href="css/style.css" rel="stylesheet">
	<!-- Animations -->
    <link href="css/animate.css" rel="stylesheet">
	<!-- Custom Favicon -->
	<link href="img/db_favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="assets/html5shiv/html5shiv.js"></script>
    <script src="assets/respond/respond.min.js"></script>
    <![endif]-->
  </head>
    <body id="top">

      <!-- ****************************** Preloader ************************** -->
      <div id="preloader"></div>


	  	<!-- ==========================
        HEADER SECTION
        =========================== -->
        <header id="home">
		    <!-- creative menu -->
            <div class="container-fluid">
              <div class="row">
                <div class="menu-wrap">
				<nav class="menu">
				    <!-- Menu Links -->
					<div class="icon-list">
						<a href="#home"><i class="fa fa-fw fa-home"></i><span>Home</span></a>
						<a href="#about"><i class="fa fa-fw fa-quote-left"></i><span>About</span></a>
						<a href="#service"><i class="fa fa-fw fa-globe"></i><span>Service</span></a>
						<a href="#portfolio"><i class="fa fa-fw fa-picture-o"></i><span>Portfolio</span></a>
						<a href="#blog"><i class="fa fa-fw fa-rss"></i><span>Blog</span></a>
						<a href="#contact"><i class="fa fa-fw fa-envelope-o"></i><span>Contact</span></a>
					</div>
				</nav>
			    </div>
			    <button class="menu-button" id="open-button"></button><!-- menu button -->
              </div><!--/row-->
            </div><!--/container-->
		  <!-- Header Image -->
          <section class="hero" id="hero">
            <div class="container">
			  <!-- Slider Button (don't edit!)-->
              <div class="row">
                <div class="col-md-12 text-right navicon">
                  <a id="nav-toggle" class="nav_slide_button" href="#"><span></span></a>
                </div>
              </div>
			  <!-- HEADER HEADLINE -->
              <div class="row">
                <div class="col-md-8 col-md-offset-1 inner">
                  <h1 class="animated fadeInDown">
                    Da<span style="color:#E04343;">ggi</span>e<br/>
                    <span>Blanq<span style="color:#00abff;">X</span></span>
                  </h1><!-- Title -->
                  <h3 class="animated fadeInUp delay-05s"><span class="rotate"  style="color:#00abff;">Web Designer,Apps Developer ,MEAN Stack:,NodeJS,ExpressJS,MongoDB,EJS,HTML5,jQuery,Materializecss,Bootstrap,CSS3,SASS,SCSS,ES6 & ES5,CORDOVAJS,APACHE-PHONEGAP,REACT-NATIVE ,WordPress CMS ...</span></h3><!-- Text Rotator -->
                </div>
              </div>
			  <!-- Learn More Button -->
              <div class="row">
                <div class="col-md-6 col-md-offset-3 text-center">
                  <a href="#about" class="scrollto wow fadeInUp delay-5s ">
			            <p  style="color:red;font-weight: bolder;">SEE MORE</p>
			            <p class="scrollto--arrow "><img src="img/scroll-down.png" alt="scroll down arrow"></p>
			        </a>
                </div>
              </div>
            </div>
          </section>
		  <!-- Header Image End -->
        </header>
		<!-- ==========================
        HEADER SECTION END
        =========================== -->




		<!-- ==========================
        ABOUT SECTION
        =========================== -->
        <section class="intro text-center section-padding color-bg" id="about">
          <div class="container">
		    <!-- WELCOME TEXT -->
            <div class="row">
              <div class="col-md-8 col-md-offset-2 wp1">
                <h1 class="arrow">A little <span>about</span> me</h1><!-- Headline -->
				<!-- about / welcome text -->
                <p>I`m Douglas (popularly known as Daggie Blanqx) , a full-stack web and app developer with a passion for learning .
                Currently I am passionate about JavaScript and most of skills lean on NodeJS and the MEAN-stack .
                My github account is <a href="https://github.com/DaggieBlanqx"> @DaggieBlanqx </a>
                When I am not coding , I love cycling .
                </p>
                <span class="skillsHolder">
                My skills are as follows :
                <h3>Languages :</h3>
                <ul>
                <li>HTML5</li>
                <li>CSS3</li>
                <li>ES5(Vanilla JS 2015)</li>
                <li>ES6(Vanilla JS 2017)</li>
                <li>NodeJS(Server-side JS)</li>
                <li>PHP</li>
                </ul>

                <h3>Databases</h3>
                <ul>
                <li>MySQL</li>
                <li>MongoDB</li>
                </ul>

                <h3>Frameworks</h3>
                <ul>
                <li>Bootstrap</li>
                <li>jQuery</li>
                <li>Materializecss</li>
                <li>Google Material Design Lite</li>
                <li>ExpressJS</li>
                <li>Embedded JS</li>
                </ul>


                <h3>Mobile App Development</h3>
                <ul>
                <li>CordovaJS & Phonegap</li>
                <li>React-Native</li>
                </ul>

                <h3>API & Data Representation</h3>
                <ul>
                <li>JSON</li>
                <li>REST-ful APIs</li>
                <li>JWT authentication</li>
                </ul>

                <h3>Other</h3>
                <ul>
                <li>Photoshop</li>
                <li>Heroku</li>
                <li>Github</li>
                <li>WordPress</li>
                </ul>
                </span>
              </div>
            </div>
          </div>
        </section>




<!-- ==========================
        SERVICE SECTION
        =========================== -->
        <section class="features text-center section-padding" id="service">
          <div class="container">
        <!-- Headline -->
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">I do amazing things for clients</h1>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
          <div class="services">
          <!-- Service Box 1 -->
                  <div class="col-md-4 wp2 item">
                    <div class="icon">
                      <i class="fa fa-camera"></i><!-- Icon -->
                    </div>
                    <h2>Front-End Design</h2><!-- Title -->
                    <p>Front-End development demands great skills in photoshop , HTML5 , CSS3 , SASS/SCSS and JavaScript ,besides that skills in front-end frameworks come in handy to ensure projects are through in time : Bootstrap, Google Material-Design-Lite , Materializecss , jQuery , EJS and React </p><!-- Description -->
                  </div>
          <!-- Service Box 2 -->
                  <div class="col-md-4 wp2 item delay-05s">
                    <div class="icon">
                      <i class="fa fa-desktop"></i><!-- Icon -->
                    </div>
                    <h2>Back-End Development</h2><!-- Title -->
                    <p>Its 2018 , where every application and website requires api integration (to/fro or to & fro ).With the rise of APIs there is need for devs to use server-side lankguages that are asynchronous & non-blocking ,that`s where NodeJS(my fav server-side language) comes into play . NodeJS is asynchronous , non-blocking & event-driven thus making it best for API handling - in addition lots of supporting API libraries eg socket.io(RealTime client-server interaction) , ExpressJS(MVC framework) , EJS(Templating), Moongoose(MongoDB Database driver) .NodeJS support for JSON places it ahead of other server=side languages .Besides NodeJS , I am skilled in PHP (my first server-side)</p><!-- Description -->
                  </div>
          <!-- Service Box 3 -->
                  <div class="col-md-4 wp2 item delay-1s">
                    <div class="icon">
                      <i class="fa fa-cubes"></i><!-- Icon -->
                    </div>
                    <h2>Productivity</h2><!-- Title -->
                    <p>With robust applications being built everyday : It is vital to have productivity kits.I have my productivity kit , its comprised: SublimeText and Atom editor , GitHub versioning System , Heroku Platform-As-A-Service hosting ,M-Lab - MongoDB service ,Browser-sync live-reload tool for webdevelopment , Chrome DevTools for debugging web and cordova apps, WordPress CMS .</p><!-- Description -->
                  </div>
          </div>
                  <div class="clearfix"></div>
              </div>
            </div>
          </div>
        </section>





		<div class="container-fluid">
		    <!-- About 1 -->
			<div class="row color-bg">
				<div class="col-md-6 nopadding features-intro-img">
					<div class="about-image" style="background-image:url(img/smart-products.jpg)"></div><!-- about image 1 -->
				</div>
				<div class="col-md-6 about-text">
					<h6>High quality webdesign</h6><!-- headline-->
					<p>A successful website is a driving force behind increasing sales and your company's ROI. One component of a successful website is the way it looks. For many businesses, they desire a high end aand high quality web design that will not only attract customers, but guide them through the sales process effortlessly - and that is what I am good at.</p><br><!-- About Text 1 -->
					<a href="#team" class="weight-outline-btn">Read more</a><!-- read more button  -->
				</div>
			</div>
			<!-- About 2 -->
			<div class="row">
				<div class="col-md-6 about-text">
					<h6>Mobile Apps Development</h6><!-- Headline -->
					<p>As a designer and developer, I understand the perfect user interface should look good and work even better. Alongside my clients, I uncover problems and solve them. In short, I create bolder online experiences.
          </p>
          <span class="rotate" style="color:purple">The most important things are not things - so we’ll design experiences</span>.<br><!-- About Text 2 -->
					<a href="#team" class="weight-outline-btn">Read more</a>	<!-- read more button  -->
				</div>
				<div class="col-md-6 nopadding features-intro-img">
					<div class="about-image" style="background-image:url(img/old-iphonex-measurement.png)"></div><!-- about image 2 -->
				</div>
			</div>
			<!-- About 3 -->
			<div class="row color-bg">
				<div class="col-md-6 nopadding features-intro-img">
					<div class="about-image" style="background-image:url(img/mern-stack.jpg)"></div><!-- about image 3 -->
				</div>
				<div class="col-md-6 about-text">
					<h6>MERN Stack Developer</h6><!-- Headline-->
					<p>Today`s world demands seamless communication between apps , websites , IOTs , smart devices , robotics , etcetera ... Right at the core of all this is APIs ; REST-ful APIs . Your next project requires intense development that considers this high-level integration - that`s where I come in . I am a MERN-stack developer (MongoDB * ExpressJS * React * Nodejs) --- these four technologies are being used by big coorps in the world (Amazon, Google,Alibaba, Tesla , Paypal ,Microsoft ,FaceBook ,Instagram ...etcetera ) </p><br><!-- About Text 3 -->
					<a href="#team" class="weight-outline-btn">Read more</a><!-- read more button  -->
				</div>
			</div>
		</div>
		<!-- ==========================
        ABOUT SECTION END
        =========================== -->




		<!-- ==========================
        PORTFOLIO SECTION
    =========================== -->
        <section class="swag text-center" id="portfolio">
          <div class="container">
		    <!-- Headline -->
            <div class="row">
              <h1 class="arrow">
                Recent <span>Projects</span>
              </h1>
            </div>
          </div>
        </section>

        <div class="container">
          <div class="row row-offset-0">

          <!-- PORTFOLIO ITEM 1 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="img/portfolio/portfolio-01-large.jpg" data-lightbox="roadtrip" title="Project One - Logistics & Energy (logisticsandenergy.co.ke)"><img class="grayscale" src="img/portfolio/portfolio-01-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->

  	    <!-- PORTFOLIO ITEM 2 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="img/portfolio/portfolio-02-large.jpg" data-lightbox="roadtrip" title="Project Two - Firebrand Nation (firebrandnation.com)"><img class="grayscale" src="img/portfolio/portfolio-02-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->

  		<!-- PORTFOLIO ITEM 3 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="img/portfolio/portfolio-03-large.jpg" data-lightbox="roadtrip" title="Project Three - Blanqx Marketing (blanqxmarketing.com)"><img class="grayscale" src="img/portfolio/portfolio-03-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->

  		<!-- PORTFOLIO ITEM 4 -->
          <div class="col-md-3 col-sm-6 ">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="img/portfolio/portfolio-04-large.jpg" data-lightbox="roadtrip" title="Project Four - T&G (tandg.blanqxmarketing.com)"><img class="grayscale" src="img/portfolio/portfolio-04-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->

          <!-- PORTFOLIO ITEM 5 -->
          <div class="col-md-3 col-sm-6 ">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="img/portfolio/portfolio-05-large.jpg" data-lightbox="roadtrip" title="Project Five - iShip App Showcase (app.iship.co.ke)"><img class="grayscale" src="img/portfolio/portfolio-05-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->

  	    <!-- PORTFOLIO ITEM 6 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="img/portfolio/portfolio-06-large.jpg" data-lightbox="roadtrip" title="Project Six - EStore (store.firebrandnation.com)"><img class="grayscale" src="img/portfolio/portfolio-06-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->

  		<!-- PORTFOLIO ITEM 7 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="img/portfolio/portfolio-07-large.jpg" data-lightbox="roadtrip" title="Project Seven - SorroundIn (hosting is pending)"><img class="grayscale" src="img/portfolio/portfolio-07-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->

  		<!-- PORTFOLIO ITEM 8 -->
          <div class="col-md-3 col-sm-6">
              <div class="overlay-effect effects clearfix">
                  <div class="img">
                      <a href="img/portfolio/portfolio-08-large.jpg" data-lightbox="roadtrip" title="Project Eight - NEWSFEEDS I/O (play.google.com/store/apps/details?id=app.newsfeeds.io)"><img class="grayscale" src="img/portfolio/portfolio-08-thumbnail.jpg" alt="Portfolio Item"></a>
                  </div>
              </div>
          </div>
  	    <!-- PORTFOLIO ITEM END -->
        </div><!--/row-->
      </div><!--/.container-->
		<!-- ==========================
        PORTFOLIO SECTION END
        =========================== -->




		<!-- ==========================
        CUSTOM SPACER
        =========================== -->
		<div class="spacer-cta text-center">
          <div class="container">
            <div class="row">
              <div class="col-md-12">
                <p style="color: white">GET IN TOUCH WITH ME FOR :</p>
                <span class="rotate" style="color:white;">
                  Freelancing | Remote Job  | Consultation | Bug Tracking | Testing | Collaboration | Hosting | Design | Coding Classes | Service Pricing 
                </span>
                <hr>
                <a href="#hireForm" class="outline-btn">hire Daggie Blanqx</a>
              </div>
            </div>
          </div>
        </div>
		<!-- ==========================
        CUSTOM SPACER END
        =========================== -->



    <!-- ==========================
        BLOG SECTION
        =========================== -->
    <section class="text-center section-padding" id="blog">
          <div class="container">
        <!-- Headline -->
        <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Thoughts <span> and </span> Beliefs</h1>
              </div>
            </div><br><br>

      <!-- Blog Slider -->
            <div class="row">
              <div id="blogSlider">
                <ul class="slides">
                  <li>
            <!-- Blog Entry 1 -->
                    <div class="col-md-4 wp4">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/blog1.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>On Look & Feel</h2><!-- Headline -->
                      <p>The human mind tends to marvel at things uncommon , and irregular but smooth patterns trigger excitement.This is one of the things I strive to achieve when I am designing a product</p><!-- Description-->
                    </div>
          <!-- Blog Entry 2 -->
                    <div class="col-md-4 wp4 delay-05s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/blog2.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>On AI (Artificial Intelligence) </h2><!-- Headline -->
                      <p>This was the technology anticipated ages ago , where computers learn human behaviour and start automating tasks that human error is prone to, its a great future and AI & machine-learning will be as important in the future as fire is now .</p><!-- Description -->
                    </div>
          <!-- Blog Entry 3 -->
                    <div class="col-md-4 wp4 delay-1s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/blog3.jpg"  class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>On Device integration</h2><!-- Headline -->
                      <p>Since the ancient story of the tower of babel , man has strived to get connected regardless of the language(human lang) , same is now happening to devices.Devices wanna communicate regardless of the programming language , the answer to it is APIs.</p><!-- Description-->
                    </div>
                  </li>
                  <li>
            <!-- Blog Entry 4 -->
                    <div class="col-md-4 wp4">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/blog1.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>Creative Minds</h2><!-- Headline -->
                      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ultricies nulla non metus pulvinar imperdiet. Praesent non adipiscing libero.</p><!-- Description -->
                    </div>
          <!-- Blog Entry 5 -->
                    <div class="col-md-4 wp4 delay-05s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/blog2.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>On Future of Programming</h2>
                      <p>The future of programming is JavaScript , this language has conquered the web and now has grown to developing apps for Mobile, Drones , TVs , Refrigerators etc, with the advent of NodeJS and ES6 - this language to program all platforms was born .</p>
                    </div>
          <!-- Blog Entry 6 -->
                    <div class="col-md-4 wp4 delay-1s">
                      <div class="overlay-effect effects clearfix">
                        <div class="img">
                          <img src="img/blog3.jpg" class="grayscale" alt="Blog Item"><!-- Blog Image -->
                        </div>
                      </div>
            <br>
                      <h2>On a solution to all problems</h2><!-- Headline -->
                      <p> Love God and love people passionately - love sees correction instead of punishment , love sees hope instead of dismissal , love sees collaboration instead of competition  ....Love God , love `em people with passion </p><!-- Description -->
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </section>
    <!-- ==========================
        BLOG SECTION END
        =========================== -->



		<!-- ==========================
        CLIENT SECTION
        =========================== -->
		<div class="container-fluid">
			<div class="row color-bg">
				<!-- Left Image -->
				<div class="col-md-6 nopadding features-intro-img wow fadeInLeft">
					<div class="about-image" style="background-image:url(img/clients.png)"></div>
				</div>
				<!-- Clients / Testimonials -->
				<div class="col-md-6 nopadding about-text">
				<h6>What our clients said</h6>
					<div id="clientSlider">
					   <ul class="slides">
					       <li>
                   <p>
                     I recommend that you hire Daggie Blanqx in your dev team.
                     I went into this process with only the vaguest idea of what I wanted and Daggie Blanqx knew the right questions to pose about my business , my goals, my personality in order to help me help him create a website that I sometimes can`t believe is mine.
                     <br>
                     <small>- Pete Rock, A New Tomorrow</small>
                   </p>
                 </li>
						   <li>
                 <p>
                   Why do I recommend Daggie Blanqx ;
                   First , he knows what the client wants - from optimization to performance to tweaks and look & feel.4
                   Secondly, he has a pocket-friendly pricing plan where he customizes the pricing so the client can get the best value for his/her money . He has divided the pricing plan in several packages which have varying specs like web-hosting, domain-setup, api-set-up, maintenance , crossplatform-integration etcetera
                   <br>
                   <small>- Michael Snowden, Creativeland CEO</small>
                 </p>
               </li>
						  <li>
                <p>
                  Daggie Blanqx is a great web designer , and a great app developer . He did for me an awesome website <a href="tandg.blanqxmarketing.com">T & G</a> .
                  <br>
                  <small>- Grace Titus, T&G International</small>
                </p>
              </li>
					   </ul>
					</div>
				</div>
			</div>
		</div>
		<!-- ==========================
        CLIENTS SECTION END
        =========================== -->





		<!-- ==========================
        NEWSLETTER SECTION
        =========================== -->
        <section>
		<div class="container-fluid">
				<div class="row color-bg">
				    <div class="col-md-6 nopadding subscribe text-center">
					 <h1><i class="fa fa-paper-plane"></i><span class="rotate">Subscribe our Newsletter</span></h1><!-- Heading -->
                     <form action="#">
                       <input type="text" name="" value="" placeholder="" required><!-- E-Mail -->
                       <input type="submit" name="" value="Send"><!-- Submit Button -->
                    </form>
					</div>
					<div class="col-md-6 nopadding features-intro-img">
						 <div class="about-image" style="background-image:url(img/newsletter.png)"></div><!-- Right Image -->
					</div>
				</div>
			</div>
        </section>
		<!-- ==========================
        NEWSLETTER SECTION END
        =========================== -->



		<!-- ==========================
        CONTACT SECTION
        =========================== -->
        <section class="text-center section-padding contact-wrap" id="contact">
		  <!-- To Top Button -->
          <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
          <div class="container">
		    <!-- Headline -->
            <div class="row">
              <div class="col-md-12">
                <h1 class="arrow">Have a <span>word</span> with me </h1>
              </div>
            </div>
            <div class="row contact-details">
			  <!-- Adress Box -->
              <div class="col-md-4">
                <div class="dark-box box-hover">
                  <h2><i class="fa fa-map-marker"></i><span>Address</span></h2>
                  <p>Nairobi City - Nairobi County , Kenya</p>
                </div>
              </div>
			  <!-- Phone Number Box -->
              <div class="col-md-4">
                <div class="dark-box box-hover">
                  <h2><i class="fa fa-mobile"></i><span>Phone</span></h2>
                  <p>+254 705 212 848</p>
                </div>
              </div>
			  <!-- E-Mail Box -->
              <div class="col-md-4">
                <div class="dark-box box-hover">
                  <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
                  <p><a href="#">info@blanqxmarketing.com</a></p>
                </div>
              </div>
            </div>
			<div class="row">
			  <!-- Google Maps (Change your Settings below) -->
			  <div class="col-md-6">
			    <div id="googlemaps"></div>
			  </div>
			  <!-- Contact Form -->
			  <div class="col-md-6 contact">
          <a name="hireForm"></a>
			     <form role="form">
				            <!-- Name -->
                            <div class="row">
                                <div class="col-md-6">
								    <!-- E-Mail -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Your name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                    <!-- E-Mail -->
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email address">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12">
            								    <!-- Phone Number -->
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Phone Number">
                                    </div>
                                </div>
                              </div>
							<!-- Message Area -->
                            <div class="form-group">
                                <textarea class="form-control" placeholder="Write you message here..." style="height:232px;"></textarea>
                            </div>
							<!-- Subtmit Button -->
                            <button type="submit" class="btn btn-send">
                                Send message
                            </button>
                        </form>
			  </div>
			</div>
			<br>
			<!-- Social Buttons - use font-awesome, past in what you want -->
            <div class="row">
              <div class="col-md-12">
                <ul class="social-buttons">
                  <li><a href="#" class="social-btn"><i class="fa fa-github"></i></a></li><!-- dribble -->
                  <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li><!-- twitter -->
                  <li><a href="#" class="social-btn"><i class="fa fa-facebook"></i></a></li><!-- facebook -->
				  <li><a href="#" class="social-btn"><i class="fa fa-gmail"></i></a></li><!-- deviantart -->
				  <li><a href="#" class="social-btn"><i class="fa fa-youtube"></i></a></li><!-- youtube -->
                </ul>
              </div>
            </div>
          </div>
        </section>
		<!-- ==========================
        CONTACT SECTION END
        =========================== -->



		<!-- ==========================
        FOOTER SECTION
        =========================== -->
        <footer>
          <div class="container">
            <div class="row">
              <div class="col-md-12 text-center">
                <p>Made with &#9825; | All Rights Reserved. &copy; <span id="thisYear"></span> |<a href="https://github.com/DaggieBlanqx">Daggie Blanqx</a>
              </div>
            </div>
          </div>
        </footer>
		<!-- ==========================
        FOOTER SECTION END
        =========================== -->


    <!-- SmoothScroll -->
    <script type="text/javascript" src="assets/smoothscroll/smoothscroll.js"></script>
    <!-- Bootstrap -->
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
	<!-- Waypoints -->
	<script src="js/waypoints.min.js"></script>
    <!-- classie.js -->
	<script src="js/classie.js"></script>
    <!-- FlexSlider -->
    <script src="assets/flexslider/jquery.flexslider.js"></script>
	<!-- Modernizr -->
    <script src="js/modernizr.js"></script>
	<!-- Text Rotator -->
	<script src="assets/textrotator/jquery.simple-text-rotator.js"></script>
	<!-- Lightbox.js -->
    <script src="assets/lightbox/js/lightbox.min.js"></script>
    <!-- Google Maps -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDeKBBPJTG3v5w3cNPAgM6ZsJiPyL1mP_o&amp;sensor=false"></script>
	<!-- Theme JavaScript Core -->
	<script src="js/main.js"></script>
	<script src="js/script.js"></script>

	<!-- GOOGLE MAPS DATA -->
    <script type="text/javascript">
    var date = new Date();
    date = date.getFullYear();

    document.getElementById('thisYear').innerHTML = date;
    // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 15,

                scrollwheel: false,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(40.68961985411178, -74.01618003845215), // New York

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [	{		featureType:'water',		stylers:[{color:'#F2F2F2'},{visibility:'on'}]	},{		featureType:'landscape',		stylers:[{color:'#FFFFFF'}]	},{		featureType:'road',		stylers:[{saturation:-100},{lightness:45}]	},{		featureType:'road.highway',		stylers:[{visibility:'simplified'}]	},{		featureType:'road.arterial',		elementType:'labels.icon',		stylers:[{visibility:'off'}]	},{		featureType:'administrative',		elementType:'labels.text.fill',		stylers:[{color:'#ADADAD'}]	},{		featureType:'transit',		stylers:[{visibility:'off'}]	},{		featureType:'poi',		stylers:[{visibility:'off'}]	}]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('googlemaps');

            // Create the Google Map using out element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);
        }

    </script>

	<!-- TEXT ROTATOR SETTINGS -->
    <script type="text/javascript">
    $(".rotate").textrotator({
      animation: "fade", // You can pick the way it animates when rotating through words. Options are dissolve (default), fade, flip, flipUp, flipCube, flipCubeUp and spin.
      separator: ",", // If you don't want commas to be the separator, you can define a new separator (|, &, * etc.) by yourself using this field.
      speed: 2000 // How many milliseconds until the next word show.
    });
    </script>

    </body>
</html>
